* {
  margin: 0;
  padding: 0;
}
h1 {
  font-family: "Poppins", sans-serif;
}

h2,
h3,
p {
  font-family: "Open Sans", sans-serif;
}
.App {
  text-align: center;
}
.heading-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
}
.heading-content h1 {
  color: #211a1e;
}
.search-container {
  display: flex;
  justify-content: center;
}
.search-content {
  padding: 1em 0.5em;
  width: 100%;
  max-width: 700px;
}

.gb-case-container,
.charts-container {
  display: flex;
  justify-content: center;
  padding: 0.5em;
}

.gb-case-content,
.charts-content {
  width: 100%;
  max-width: 700px;
  border: 1px solid grey;
  border-radius: 20px;
  padding: 2em 0.5em;
}

.gb-case-content h2,
.charts-content h2 {
  margin-bottom: 1em;
}
.cases-inner-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  padding: 0em 2em;
}
.active-cases {
  color: #3366cc;
}
.death-cases {
  color: #e0522f;
}
.recovered-cases {
  color: #ff9900;
}
@media (prefers-reduced-motion: no-preference) {
  .corona-logo {
    width: 35px;
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .cases-inner-container {
    flex-direction: column;
  }
  .cases {
    margin-bottom: 1em;
  }
}
